.anime{
  width: fit-content;
  height: fit-content;
  animation-name: example;
  animation-duration: 10s;
  color: red;
  font-size: x-large;
}

@keyframes example {
  from { color: yellow; text-shadow: 2px 2px;}
  to { color: red; }
  
}

.rounded-circle:hover{
    background-color: yellow;
}
.nav-link:hover{
  background-color: sandybrown;
}

.card:hover{
  transform:scale(1.03);
  border: 3px solid black;
  .btn{
    background-color: yellow;
    color: red;
    border: 2px solid black;
  }
}
.skill:hover{
  transform:scale(1.10);
}
